apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: operator
  name: {{ .Release.Name }}-controller-manager
  namespace: {{ .Release.Namespace }}