---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-serving-knative-dev-serving-knative-dev-v1-service
  failurePolicy: Fail
  name: mservice-v1.kb.io
  rules:
  - apiGroups:
    - serving.knative.dev.serving.knative.dev
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - services
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-serving-knative-dev-serving-knative-dev-v1-service
  failurePolicy: Fail
  name: vservice-v1.kb.io
  rules:
  - apiGroups:
    - serving.knative.dev.serving.knative.dev
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - services
  sideEffects: None
